/*
Color variables
..........................................................*/
/*........................................................*/
/*
Color variables
..........................................................*/
/*........................................................*/
@-webkit-keyframes bar1 {
  0% {
    width: 0px;
  }
  100% {
    width: 200px;
  }
}
@keyframes bar1 {
  0% {
    width: 0px;
  }
  100% {
    width: 200px;
  }
}

@-webkit-keyframes bar2 {
  0% {
    width: 0px;
  }
  100% {
    width: 300px;
  }
}

@keyframes bar2 {
  0% {
    width: 0px;
  }
  100% {
    width: 300px;
  }
}

@-webkit-keyframes bar3 {
  0% {
    width: 0px;
  }
  100% {
    width: 400px;
  }
}

@keyframes bar3 {
  0% {
    width: 0px;
  }
  100% {
    width: 400px;
  }
}

@-webkit-keyframes bar4 {
  0% {
    width: 0px;
  }
  100% {
    width: 500px;
  }
}

@keyframes bar4 {
  0% {
    width: 0px;
  }
  100% {
    width: 500px;
  }
}

@-webkit-keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.create-poll {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 150px 0 150px;
  margin: 120px 0 120px 0;
}

.create-poll .polls {
  width: 100%;
}

.create-poll .polls .flex-between {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.create-poll .polls h1 {
  color: #24d394;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: roboto;
}

.create-poll .cselect {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #e4e3e3;
  padding-left: 15px;
  width: 250px !important;
  padding: 0 5px 0 5px !important;
  height: 50px;
}

.create-poll .cselect:focus {
  outline: none;
  border: 1px solid #24d394;
}

.create-poll .cinput {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #e4e3e3;
  padding-left: 15px;
  height: 50px;
}

.create-poll .cinput:focus {
  outline: none;
  border: 1px solid #24d394;
}

.create-poll .poll {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

.create-poll .poll .polloption {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  height: 150px;
  padding: 10px;
  border: 1px solid #24d394;
}

.poll-stat {
  font-size: 0.9rem;
}

#vote {
  width: 100%;
  margin-bottom: 20px;
  background-color: #24d394;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

#vote:disabled {
  cursor: not-allowed;
}

.loading-container {
  opacity: 0.4;
}

#voted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 20px;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.graph #voted:nth-child(1) {
  background-color: #4c4ce2;
  -webkit-animation: bar1 0.5s ease 1 normal;
          animation: bar1 0.5s ease 1 normal;
  width: 200px;
}

.graph #voted:nth-child(2) {
  background-color: #f33b3b;
  -webkit-animation: bar2 0.5s ease 1 normal;
          animation: bar2 0.5s ease 1 normal;
  width: 300px;
}

.graph #voted:nth-child(3) {
  background-color: #5ae45a;
  -webkit-animation: bar3 0.5s ease 1 normal;
          animation: bar3 0.5s ease 1 normal;
  width: 400px;
}

.graph #voted:nth-child(4) {
  background: #ee6eee;
  -webkit-animation: bar4 0.5s ease 1 normal;
          animation: bar4 0.5s ease 1 normal;
  width: 500px;
}

@media screen and (max-width: 768px) {
  .create-poll {
    padding: 20px;
  }
  .polloption,
  .cselect {
    width: 100% !important;
  }
}
/*# sourceMappingURL=styles.css.map */